.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}


.logo {
  font-weight: bold;
  font-size: 20px;
}


.search-bar {
  display: flex;
  gap: 8px;
}

.nav-right {
  display: flex;
  gap: 10px;
}