.sidebar {
  width: 220px;
  background: #f5f5f5;
  padding: 30px 20px;
  min-height: calc(100vh - 70px);
}

.sidebar h4 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar a:hover {
  color: #2a9d8f;
}