
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout > nav {
  height: 70px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 220px;
  background: #f4f4f4;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.poster {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promos {
  flex: 1;
  display: flex;
}

.promos > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content footer {
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}